main container for first page*/

.container {
	max-width: 1250px;
	margin: 0 auto;
}

/*header*/

.game-header {
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-family: 'Grenze';
	font-size: 70px;
	margin: 16px;
}

/*Stock images*/

.display-images {
	display:flex;
	justify-content: center;
	margin-top: 0 auto
	justify-content: space-around;
}

img {
	width: 400px;
	height: 300px;
	margin: 5px;
	border-radius: 5px;
	max-width:100%;

}

.landing-page-box {
	justify-content: center;
}

/*landing page*/
ul {
	line-height:160%;
}

.instruction-boxes {
	display:flex;
	justify-content: center;
	margin-top:61px;
	font-family: 'Grenze';
	font-size:22px;
}

.objectives-box {
	width: 30%;
	border:1px solid black;
	padding: 15px;
	border-radius: 20px;
	margin: 5px;
}

.variations {
	width: 30%;
	border:1px solid black;
	padding: 15px;
	border-radius:25px;
	margin: 5px;
}

/*start button*/

.start-button {
	border-radius: 16px;
	font-weight: bold;
	font-family: 'Grenze';
	padding: 25px;
	background-color: rgb(130, 176, 159);
	margin:0 auto;
	display:flex;
	font-size: 30px;
}

/*End of container for first page*/

/*container for second page*/
.game-box {
	max-width: 1250px;
	max-height: 800px;
	margin: 0 auto;
}

.game-buttons {
	align-items: flex-end;
}

/*score counter*/
.counter-boxes {
	display:flex;
	justify-content: center;
}

.player-counter {
	border: 1px solid black;
	padding: 20px;
	width: 25%;
	height: 90%;
 border-radius: 20px;
 margin: 5px;
 font-size: 25px;
 font-family: 'Grenze';
}

.computer-counter {
	border: 1px solid black;
	padding: 20px;
	width: 25%;
	height: 463px;
 border-radius: 20px;
 margin:5px;
 font-size: 25px;
 font-family: 'Grenze';
}

/*buttons*/

.player-options {
	display: inline-flex;
	justify-content: center;
	margin-left: 66px;
}

p {
	font-size: 30px;
}

#resultBox {
	font-size: 40px;
}

.gold-button {
	border-radius: 16px;
	font-weight: bold;
	font-family: 'Grenze';
	padding: 10px;
	background-color: rgb(130, 176, 159);
	margin:5px;
	display:flex;
	font-size: 30px;
}

.theft-button {
	border-radius: 16px;
	font-weight: bold;
	font-family: 'Grenze';
	padding: 10px;
	background-color: rgb(130, 176, 159);
	margin:5px;
	display:flex;
	font-size: 30px;
}

.trap-button {
	border-radius: 16px;
	font-weight: bold;
	font-family: 'Grenze';
	padding: 10px;
	background-color: rgb(130, 176, 159);
	margin:5px;
	display:flex;
	font-size: 30px;
}

/*imgs*/

/*results box*/
.page-div {
display: flex;
flex-direction: column;
}

.result-box {
flex-direction: column;
border: 1px solid black;
	padding: 20px;
	width: 54%;
	height: 90%;
 border-radius: 20px;
 margin:5px;
 font-size: 25px;
 font-family: 'Grenze';
 margin-left: 22%;
}

/*restart button*/
.restart-button {
	border-radius: 16px;
	font-weight: bold;
	font-family: 'Grenze';
	padding: 10px;
	background-color: rgb(130, 176, 159);
	margin:5px;
	display:flex;
	font-size: 30px;
	width: 15%;
}

.reload-button {
	border-radius: 16px;
	font-weight: bold;
	font-family: 'Grenze';
	padding: 10px;
	background-color: rgb(130, 176, 159);
	margin:5px;
	display:flex;
	font-size: 30px;
	width: 20%;
}